<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    {% include 'nav.html' %}
    <h1>Library Books</h1>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> by {{ book.author }}  
                <br>Genre: {{ book.genre }}
                <br>Publisher: {{ book.publisher if book.publisher else 'N/A' }}
                <br>Year: {{ book.year if book.year else 'N/A' }}
                <br>Quantity: {{ book.availability }}
            </li>
            <hr>
        {% endfor %}
    </ul>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
