<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'nav.html' %}
    
    <div class="container px-2 mt-4">
        <h2 class="mb-3">Newest Books</h2>
        <div class="row">
          {% for book in books %}
            <div class="col-md-4">
              <div class="card mb-4">
                <!-- Book Image (default or from book.image_filename) -->
                <img class="card-img-top" 
                     src="{{ url_for('static', filename='images/product-not-found.png') }}"
                     alt="{{ book.title }}">
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p class="card-text">
                    Author: {{ book.author }}<br>
                    Genre: {{ book.genre }}<br>
                    Quantity: {{ book.availability }}<br>
                    Publisher: {{ book.publisher if book.publisher else 'N/A' }}<br>
                    Year: {{ book.year if book.year else 'N/A' }}
                  </p>
                  <!-- Button to go to Book Detail Page -->
                  <a href="{{ url_for('main.book_detail', book_id=book.id) }}" class="btn btn-primary">
                    View Book
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
